* { 
    box-sizing: border-box;
}

.menu{
    list-style-type: none;
    height: 50px;
    width: 800px;
    background-color: black;
    padding: 20px;
    text-transform: uppercase;
    margin: auto;
    
}

.menuitem{
    font: 35px; 
    color: white;
    float: left;
    margin-right: 20px;
    text-shadow: 2px 2px grey;
}

.menu a:hover{
   background-color: white;
}

.feed{
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    text-indent: inherit;
    position: relative;
    width: 800px;
    text-align: left;
    line-height: 100%;
    word-spacing: 3px;   
}

.photo{
    margin: 0 0 10px 10 px;
    float: right;
}

.pullquote{
    font: 30px bold;
    font-family: sans-serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

h1{
    text-align: center;
    font: 40px black;
    text-decoration: underline;
}

h2{
    font-size: 20px;
    text-align: right;
    font-style: italic;
    margin: 0;
}

h3{
    font-size: 15px;
    text-align: right;
    font-style: bold;
    margin-bottom: 20;
    margin-top: 0;
}

header{
    font: 50px black;
    text-align: center;
    font-family: cursive, lucidia handwriting;
    border-bottom: 9px solid black;
    border-bottom-style: double;
    font-variant: small-caps;
    letter-spacing: 10px;
}