* {
    box-sizing: border-box;
}

.main-container {
    width: 1000px;
    margin: 0 auto 0 auto;
}

.promo-container {
    background: #003459;
    color: white;
}

header {
    display: flex;
}

.branding {
    background: black;
    width:150px;
    height:45px;
    margin-right: auto;
}

.pill-button {
    display: inline-block;
    background: #007EA7;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

.pill-button a:hover{
    display: inline-block;
    background: white;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    color: #007EA7;
    text-decoration: none;
}

a:visited{
    border: 2px solid #00171F;
}

.promo {
    background: white;
    color: #007EA7;
    font-size: 18px;
}

/* Big Promo */

#big-promo {
    padding-top: 200px;
}

.promo-message {
    width: 60%;
    padding: 50px;
}

/* Product Features */

.product-features, .product-buy-it-now {
  display: flex;
}

.feature {
  text-align: center;
  padding: 20px;
}

.feature-image {
  width: 200px;
  height: 200px;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  overflow: hidden;
  font-family: 'Istok Web', sans-serif;
}

.product-buy-it-now {
  align-items: center;
}

.product-info {
  text-align: right;
}

/* Product Reviews */

#product-reviews {
  background: #00A8E8;
  color: white;
  text-align: center;
  padding: 50px;
}

/* Footer */

footer {
  display: flex;
  padding: 15px 10px 15px 10px;
  font-size: 12px;
}

.footer-links {
  flex: 1;
}

.footer-copyright {
  flex: 1;
  text-align: right;
}

.footer-copyright p {
  margin: 0;
}

h1{
    font-family: 'Open Sans', sans-serif;
}