#box1 {
    position: relative;
    width: 960px;
    height: 570px;
    border: 3px solid black;
    margin-bottom: 130px;
}

#box2 {
    position: relative;
    width: 960px;
    height: 570px;
    border: 3px solid black;
    padding: 10px;
}

#box1r {
    position: relative;
    float: left;
    height: 200px;
    width: 200px;
    background-color: red;
}

#box1g {
    float: right;
    position: relative;
    background-color: green;
    height: 200px;
    width: 200px;
    
}

#box1b {
    margin-top: 370px;
    position: relative;
    background-color: blue;
    height: 200px;
    width: 200px;
}

#box1y {
    display: inline-block;
    position: absolute;
    float: right;
    background-color: yellow;
    height: 200px;
    width: 200px;
}

#box2r {
    float: left;
    position: relative;
    display: block;
    background-color: red;
    height: 570px;
    width: 240px;
}

#box2b {
    float: right;
    display: block;
    position: relative;
    background-color: blue;
    height: 570px;
    width: 240px;
}

#box2y {
    float: right;
    display: block;
    position: relative;
    background-color: yellow;
    height: 570px;
    width: 240px;
}

#box2g {
    float: right;
    display: block;
    position: relative;
    background-color: green;
    height: 570px;
    width: 240px;
}

#box3r {
    position: relative;
    background-color: red;
    height: 120px;
    width: 920px;
    margin: 10px;
}

#box3g {
    float: left;
    position: relative;
    background-color: green;
    height: 395px;
    width: 175px;
    margin: 10px;
}

#box3b {
    float: right;
    position: relative;
    background-color: blue;
    height: 395px;
    width: 730px;
    margin: 10px;
}