* {
  box-sizing: border-box;
}

.body, .head, .legs, .legcover, .feet, .mouth, .eye {
  position: absolute;
  left:0;
  right:0;
  margin:auto;
}
.robot{
  position: relative;
  width: 1000px;
  height: 1000px;
  border: 5px dotted;
  margin: auto;
}

.body{
  border-radius: 50%;
  border: 2px solid black;
  height: 300px;
  width: 300px;
  background-color: grey;
  top: 120px;
}

.head {
  height: 200px;
  width: 100px;
  border: 2px solid black;
  background-color: lightgrey;
}

.eye{
  position: absolute;
  height:60px;
  width: 175px;
  border: 3px solid black;
  border-radius: 45%;
  background-color: grey;
  top:20px;
  
  
}

.glass{
  position: absolute;
  height: 40px;
  width:150px;
  background-color: skyblue;
  margin: auto;
  top:0;
  bottom:0;
  right:0;
  left:0;
  border: 3px inset;
  border-radius: 50%;
}

.shine{
  position: absolute;
  height:30px;
  width:30px;
  background-color:red;
  border:1px solid black;
  border-radius:50%;
  margin:auto;
  left:35px;
  right:0;
  top:0;
  bottom:0;
}

.mouth{
  height: 25px;
  width: 75px;
  background-color:red;
  top:145px;
}

.square{
  display:inline-block;
  height:25px;
  width:25px;
  border: 3px solid black;
}

.legs{
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-color: lightgrey;
  top:250px;
  border: 5px dashed black;
}

.innerlegs{
  position: absolute;
  height:350px;
  width:350px;
  background-color:white;
  border-radius:50%;
  border: 5px dashed black;
  left:0;
  right:0;
  margin:auto;
  top: 100px;
}

.legcover{
  position: absolute;
  height: 175px;
  width:350px;
  background-color:white;
  top:550px;
}

.feet{
  width:400px;
  top:525px;
}

.footr{
  position:absolute;
  height:75px;
  width:75px;
  background-color: grey;
  border-radius:50%;
  border: 30px black solid;
}

.footl{
  position:absolute;
  height:75px;
  width:75px;
  background-color: grey;
  border-radius:50%;
  border: 30px black solid;
  right:0;
  margin:auto;
}

.shoulder{
  height:50px;
  width:50px;
  background-color:black;
  border-radius:50%;
  border: 2px solid lightgrey;
  margin:auto;
  top:195px
}

.shoulder.right{
  left:150px;
}

.shoulder.left{
  right:150px;
}

.arm{
  height:120px;
  width:25px;
  background-color:lightgrey;

  margin:auto;
  top:215px
}

.arm.right{
  left:150px;
}

.arm.left{
  right:150px;
}

.hand{
  height:55px;
  width:55px;
  background-color:grey;
  border-radius:50%;
  border: 15px solid lightgrey;
  margin:auto;
  top:320px
}

.hand.right{
  left:150px;
}

.hand.left{
  right:150px;
}

.bar{
  height:16px;
  width:5px;
  background-color:black;
  margin:auto;
  top:359px
}

.bar.right{
  left:150px;
}

.bar.left{
  right:150px;
}
